body {
  margin: 0;
  min-height: 100vh;
  font-family: Arial, sans-serif;
background-image: ("./img1.png");
}

.my-card {
  background: rgba(255, 255, 255, 0.115);
   backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
   box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
  width: 25%;
  min-width: 260px;
gap:20px;
  border-radius: 18px;
  padding: 1.5rem;
  margin: 20px 0 0 50px;
   font-family: "Montserrat", sans-serif;
   font-size:900;
   font-weight: bold;
}
.my-card .ant-card-head-title {
  font-size:20px;
  font-weight: 600;
  color:#000;
 text-align: center;
 align-items: center;
}


.my-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.35);
}
.my-card .ant-card-body p {
  font-size:20px;
  font-weight:900;
 margin: 1rem 0;
 color:#000;
}
.btn {
  width: 100%;
  background-color: rgba(69, 59, 180, 0.911);
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  margin-top: 1rem;
   font-family: "Montserrat", sans-serif;
    backdrop-filter: blur(50px);
    border: 1px solid #7d21d3c0;
    box-shadow: 0 10px 40px rgba(120, 90, 255, 0.2);

}
